<!-- The content for the app's home view which will be rendered into the layout's {{{body}}}. -->

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
